@import url(style.css);
.c-container{
    display: flex;
    flex-direction: column;
  }

  /* .solux-code h4{
    font-size: 1.2rem;
  } */
  .hero_bar {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .hero_bar img{
    width: 30rem;
  }
  .sidebar {
    position: relative;
    background-color: #eaeaea;
    padding: 20px;
    max-width: 25rem;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    height: calc(150vh - 50px);  /* Set the maximum height of the sidebar */
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .class ul{
    list-style: disc;
  }
  
  li {
    padding: 8px 0;
  }
  .course_content{
    display: flex;
  }
  .course{
    padding-left: 6rem;
    padding-top: 4rem;
  }
  .course .title{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .course .title i{
    position: relative;
    height: 35px;
    width: 35px;
    border-radius: 6px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.course .class{
    margin-top: 2rem;
    max-width: 100rem;
    margin-bottom: 4rem;
    border-bottom: 1px solid #aaa;
}

.solux-example{
    padding: 8px 20px;
    margin: 24px 24px;
    box-shadow: none !important;
    background-color: #E7E9EB;
    border-radius: 10px;
    padding-bottom: 1rem;
}

.solux-flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
/* .table-container {
    max-width: 600px;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f5f5f5;
} */
.solux-code{
    border-left: 4px solid purple;
    width: auto;
    color: black;
    word-wrap: break-word;
    background-color: white;
    padding: 8px 12px;
    font-family: 'Consolas', 'Courier New', monospace;
}
.class img{
    width: 100%;
}
.pagination{
    margin-left: 2rem;
}
.progress-bar-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-top: 1rem;
  width: 80%;
  height: 5px;
  background-color: grey;
  border-radius: 10px;
}
.progress-bar span {
  margin-right: 5rem;
}

.menu-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

.icon {
  font-size: 3rem;
  margin-right: 10px; 
}

.progress-bar-container {
  flex-grow: 1; /* Take up remaining space */
  margin-bottom: 1rem;
}
.progress_bar {
  height: 100%;
  border-radius: 4px;
  width: 10%;
  transition: width 0.5s ease;
}
 
.tagcolor{
  color: mediumblue;
}
.tagname{
  color: brown;
}
.tagname_bg{
  background-color: #f1f1f1;
}
.tagattribute{
  color: red;
}
.hidden{
  display: none;
}

/* ================
Features
================*/
.feature {
  margin-top: -50px;
}

.feature-item {
  padding: 30px 35px;
  margin-bottom: 25px;
  background: #fff;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.04);
  margin: 0px 5px;
  border-radius: 5px;
  border-top: 5px solid #E93F1A;
  display: flex;
  transition: .4s;
  margin-bottom: 20px;
}

.feature-item h4 {
  margin-bottom: 20px;
  transition: .4s;
}

.feature-item:hover {
  margin-top: -10px;
}

.feature-item:hover .feature-icon {
  color: #E93F1A;
}

.feature-icon {
  font-size: 40px;
  float: left;
  margin-right: 25px;
  color: #385777;
  margin-top: 5px;
  transition: .4s ease;
}

.feature-text {
  overflow: hidden;
}
/* ====================
Footer Section
======================*/
.footer {
  background: #100f1f;
  padding: 80px 0px 0px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}

.footer .footer-widget .widget-title {
  color: #fff;
  margin-bottom: 20px;
  font-size: 22px;
}

.footer .footer-widget p {
  color: rgba(255, 255, 255, 0.8);
}

.footer .footer-contact ul {
  margin-top: 30px;
}

.footer .footer-contact ul li {
  margin-bottom: 20px;
}

.footer .footer-contact ul li i {
  color: #E93F1A;
  margin-right: 20px;
  float: left;
  margin-top: 7px;
  min-width: 30px;
}

.footer .footer-contact ul li div {
  overflow: hidden;
  font-size: 14px;
}

.footer .footer-contact ul li div strong {
  display: block;
  text-transform: capitalize;
  font-size: 16px;
}

.footer .footer-links li {
  padding: 5px 0px;
}

.footer .footer-links a {
  color: rgba(255, 255, 255, 0.8);
}

.footer .footer-links a:hover {
  color: #E93F1A;
}

.footer .footer-socials {
  margin-top: 30px;
}

.footer .footer-socials a {
  width: 40px;
  height: 40px;
  background: #fff;
  display: inline-block;
  text-align: center;
  padding-top: 6px;
  font-size: 14px;
  color: #222;
  border-radius: 100%;
}

.footer .footer-socials a:hover {
  background: #E93F1A;
  color: #fff;
}

.footer-btm {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding: 20px 0px 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-btm img{
  width: 8rem;
}

.footer-btm .copyright p {
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0px;
}

.form-subscribe {
  position: relative;
}

.form-subscribe .form-control {
  height: 50px;
  border-color: rgba(255, 255, 255, 0.2);
  background: transparent;
  border-radius: 5px;
}

.form-subscribe button {
  position: absolute;
  right: 0px;
  top: 0px;
  background: #E93F1A;
}

.form-subscribe button:hover {
  background: #fff;
  color: #222;
}
